.blog-post__background {
    position: relative;
    .blog-post__main {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 636px;
        height: 269px;
        background-color: #FFFFFF;
        padding: 50px 50px;
    }
}

.blog-posts {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    .blog-post {
        .blog-post__video {
            .video {
                max-width: 660px;
                height: 350px;
            }
        }
        margin-top: 107px;
        .post {
            transform: translate(7.5%, -30%);
            margin-bottom: -150px;
            left: 50%;
            background-color: #FFFFFF;
            width: 544px;
            height: 295px;
            padding: 40px;
        }
    }
}

.blog-post__title {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    color: $blackcolor;
    &.main {
        margin-bottom: 11px;
        line-height: 41px;
    }
}

.blog-post__descr {
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $graycolor;
}

.blog-post__data {
    font-size: 14px;
    line-height: 25px;
    color: $graycolor;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid $linecolor;
}

.blog-post__view {
    font-size: 14px;
    line-height: 25px;
    color: $accentcolor;
}