.blog-article__background {
    position: relative;
    .blog-article__main {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 636px;
        height: 269px;
        background-color: #ffffff;
        padding: 50px 50px;
    }
}

.blog-articles {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    .blog-article {
        .blog-article__video {
            .video {
                max-width: 660px;
                height: 350px;
            }
        }
        margin-top: 107px;
        .article {
            transform: translate(7.5%, -30%);
            margin-bottom: -150px;
            left: 50%;
            background-color: #ffffff;
            width: 544px;
            height: 295px;
            padding: 40px;
        }
    }
}

.blog-article__title {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    color: $blackcolor;
    &.main {
        margin-bottom: 11px;
        line-height: 41px;
    }
}

.blog-article__descr {
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $graycolor;
}

.blog-article__data {
    font-size: 14px;
    line-height: 25px;
    color: $graycolor;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid $linecolor;
}

.blog-article__view {
    font-size: 14px;
    line-height: 25px;
    color: $accentcolor;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-value('margin-top', 100, 40, 1);
    @include adaptiv-value('margin-bottom', 100, 40, 1);
    grid-column: 3 span;
    .pagination-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
    .pagination-list__item {
        border-bottom: 1px solid $linecolor;
        padding-bottom: 18px;
        padding-left: 25px;
        padding-right: 25px;
        transition: border-color 0.3s;
        &:hover {
            border-color: $graycolor;
        }
        &.active {
            border-color: $graycolor;
        }
    }
    .icon-slider-arrow {
        font-size: 45px;
    }
}
