.cart {
    h3 {
        padding: 35px 0 0 0;
        @include adaptiv-value('padding-bottom', 90, 35, 1);
    }
    .cart-grid {
        display: grid;
        grid-template-columns: 1fr 315px;
        grid-gap: 56px;
        @media (max-width: $md1+px) {
            grid-template-columns: 1fr 280px;
            grid-gap: 35px;
        }
        @media (max-width: $md2+px) {
            grid-template-columns: 1fr 1fr;
            place-items: center;
            grid-gap: 50px;
        }
        @media (max-width: $md3+px) {
            display: block;
        }
        .cart-body {
            @media (max-width: $md2+px) {
                grid-column: 2 span;
            }
            @media (max-width: $md3+px) {
                margin-bottom: 50px;
            }
            .cart-product__scroll {
                max-width: 100%;
                overflow-x: scroll;
            }
            .cart-product {
                display: flex;
                align-items: center;
                position: relative;
                @media (max-width: $md3+px) {
                    min-width: 800px;
                }
                @media (max-width: 640px) {
                    min-width: 750px;
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                .cart-product__lables {
                    position: absolute;
                    top: 0;
                    left: 0;
                    .product-lable {
                        display: block;
                        text-align: center;
                        font-size: 12px;
                        color: #ffffff;
                        padding: 5px 0;
                        width: 46px;
                        border-radius: 100px;
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                    .product-label__sale {
                        background-color: $orangecolor;
                    }
                    .product-label__hit {
                        background-color: $yellowcolor;
                    }
                }
                .cart-product__image {
                    img {
                        width: 150px;
                        height: 150px;
                        @media (max-width: $md1+px) {
                            width: 100px;
                            height: 100px;
                        }
                        @media (max-width: $md2+px) {
                            width: 130px;
                            height: 130px;
                        }
                        @media (max-width: $md4+px) {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .cart-product__title {
                    flex: 1;
                    .cart-product__name {
                        display: block;
                        line-height: 30px;
                        font-weight: 500;
                        font-size: 18px;
                        max-width: 360px;
                        transition: color 0.3s;
                        @media (max-width: $md1+px) {
                            max-width: 190px;
                            font-size: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        @media (max-width: $md2+px) {
                            max-width: 300px;
                            white-space: normal;
                            overflow: auto;
                            text-overflow: none;
                        }
                        @media (max-width: 640px) {
                            font-size: 14px;
                        }
                        &:hover {
                            color: $accentcolor;
                        }
                    }
                }
                .cart-product__count {
                    border: 1px solid $linecolor;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 13px 15px;
                    gap: 32px;
                    margin-right: 75px;
                    font-size: 14px;
                    @media (max-width: $md1+px) {
                        margin-right: 20px;
                        padding: 13px;
                        gap: 26px;
                    }
                    button {
                        color: $graycolor;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
                .cart-product__price {
                    text-align: right;
                    margin-right: 50px;
                    @media (max-width: $md1+px) {
                        margin-right: 20px;
                    }
                    .discount {
                        color: $orangecolor;
                        font-size: 18px;
                    }
                    p {
                        font-size: 16px;
                        color: $graycolor;
                        span {
                            text-decoration: line-through;
                        }
                        b {
                            color: $maincolor;
                            font-weight: 600;
                            font-size: 20px;
                        }
                    }
                }
                .cart-product__trash {
                    font-size: 24px;
                    color: $graycolor;
                }
            }
        }
    }
    .cart-sidebar {
        height: fit-content;
        padding-bottom: 30px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
        @media (max-width: $md2+px) {
            grid-column: 2 span;
            width: 65%;
        }
        @media (max-width: $md3+px) {
            margin: 0 auto;
            width: 75%;
            margin-bottom: 80px;
        }
        @media (max-width: $md4+px) {
            width: 100%;
        }
        .cart-sidebar__title {
            border-bottom: 1px solid $linecolor;
            padding: 15px 20px;
        }
        .card-sidebar__prices {
            padding: 30px 20px 0;
            border-radius: 4px;
            .price-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-size: 14px;
                    color: #383838;
                }
                b {
                    font-size: 14px;
                    color: #383838;
                }
                h4 {
                    font-size: 18px;
                    color: #df804c;
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            .chekout-btn {
                margin-top: 35px;
            }
        }
    }
}
