.page__main-slider {
    .main-slider__body {
        .main-slider__slider {
            position: relative;
            background-color: #e6f5f6;
            .slider-main__body {
                .slider-main__slide {
                    width: 100%;
                    background-color: #e6f5f6;
                    height: 700px;
                    .slider-main__container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                    .slider-main__text {
                        position: relative;
                        z-index: 2;
                        max-width: 690px;
                        p {
                            margin: 30px 0;
                        }
                        .slider-main__btn {
                            max-width: 200px;
                        }
                    }
                    img {
                        top: 0;
                        right: -120px;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
            .slider-main-controls {
                .slider-main-controls__dots {
                    position: absolute;
                    bottom: 45px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        opacity: 1;
                        background-color: #dddddd;
                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                    .swiper-pagination-bullet.swiper-pagination-bullet-active {
                        background-color: $maincolor;
                        width: 12px;
                        height: 12px;
                    }
                }
                .slider-main-controls__arrows {
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 85px;
                    // .slider-arrow__prev {
                    // }
                    .slider-arrow__next {
                    }
                }
            }
            .mobile-image {
                display: none;
            }
        }
    }
}

.page__category-slider {
    margin-bottom: 90px;
    .category-slider__body {
        .category-slider__slider {
            position: relative;
            .slider-category__body {
                overflow: hidden;
                .slider-category__slide {
                    a {
                        height: 200px;
                        padding: 0 50px;
                        padding-top: 40px;
                        display: flex;
                        @include adaptiv-value('font-size', 18, 14, 1);
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        transition: background-color 0.3s;
                        color: $graycolor;
                        @media (min-width: 320px) {
                            padding: 0;
                            padding-top: 50px;
                            max-width: 120px;
                            margin: 0 auto;
                            svg {
                                width: 35px;
                                height: 35px;
                            }
                        }
                        @media (min-width: 640px) {
                            max-width: 100%;
                            margin: 0;
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                        @media (any-hover: hover) {
                            &:hover {
                                background-color: $maincolor;
                                color: #fff;
                                svg {
                                    path {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                        svg {
                            margin-bottom: 20px;
                            path {
                                transition: fill 0.3s;
                            }
                        }
                    }
                }
            }
            .slider-category-controls {
                .slider-category-controls__arrows {
                    @media (min-width: 320px) {
                        display: none;
                    }
                    @media (min-width: $md3+px) {
                        display: block;
                    }
                    display: block;
                    .slider-arrow {
                        transform: translateY(-50%);
                        top: 50%;
                        position: absolute;
                    }
                    .slider-arrow__prev {
                        left: -40px;
                    }
                    .slider-arrow__next {
                        transform: translateY(-50%) rotate(180deg);
                        right: -40px;
                    }
                }
            }
        }
    }
}

.product-section {
    margin-bottom: 100px;
    &.sale {
        .main-product {
            order: 2;
        }
    }
    .product-section__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        a {
            color: $accentcolor;
        }
    }
    .product-section__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding-bottom: 100px;
        border-bottom: 1px solid $linecolor;
        .product-body__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}
