@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?aef8go');
    src: url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-balance:before {
    content: "\e900";
}

.icon-favourite:before {
    content: "\e901";
}

.icon-controls:before {
    content: "\e902";
}

.icon-pp:before {
    content: "\e903";
}

.icon-bag:before {
    content: "\e904";
}

.icon-bin:before {
    content: "\e905";
}

.icon-bus:before {
    content: "\e906";
}

.icon-cancel:before {
    content: "\e907";
}

.icon-chat:before {
    content: "\e908";
}

.icon-check:before {
    content: "\e909";
}

.icon-chevron:before {
    content: "\e90a";
}

.icon-eco:before {
    content: "\e90b";
}

.icon-facebook:before {
    content: "\e90c";
}

.icon-inbox:before {
    content: "\e90d";
}

.icon-instagram:before {
    content: "\e90e";
}

.icon-linkedin:before {
    content: "\e90f";
}

.icon-list-check:before {
    content: "\e910";
}

.icon-location:before {
    content: "\e911";
}

.icon-minus:before {
    content: "\e912";
}

.icon-phone:before {
    content: "\e913";
}

.icon-play:before {
    content: "\e914";
}

.icon-plus:before {
    content: "\e915";
}

.icon-search:before {
    content: "\e916";
}

.icon-slider-arrow:before {
    content: "\e917";
}

.icon-snowflake:before {
    content: "\e918";
}

.icon-star:before {
    content: "\e919";
}

.icon-sun:before {
    content: "\e91a";
}

.icon-time:before {
    content: "\e91b";
}

.icon-trolleybus:before {
    content: "\e91c";
}

.icon-youtube:before {
    content: "\e91d";
}