@media (max-width: $md1+px) {
    .header {
        .upper-header {
            .header-logo {
                margin-right: 65px;
            }

            .header-info {
                gap: 40px;
                .header-info__column {
                    &:first-child::after {
                        display: none;
                    }
                    .header-info__text {
                        margin-left: 10px;
                    }
                }
            }

            form.search {
                max-width: 250px;
                margin-right: 30px;
            }
        }
    }
}
@media (max-width: $md2+px) {
}
@media (max-width: $md3+px) {
}
@media (max-width: $md4+px) {
}
