input {
    border: 1px solid #ededed;
    border-radius: 100px;
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;
    display: block;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
    &::placeholder {
        color: #bfbfbf;
        font-size: $secondsize;
    }
    &:focus {
        border: 1px solid $maincolor;
    }
}

textarea {
    border: 1px solid #ededed;
    border-radius: 30px;
    height: 100px;
    resize: none;
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
    display: block;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
    &::placeholder {
        color: #bfbfbf;
        font-size: $secondsize;
    }
    &:focus {
        border: 1px solid $maincolor;
    }
}

.icon-chevron.down {
    display: inline-block;
    transform: rotate(90deg);
}

.icon-chevron.up {
    display: inline-block;
    transform: rotate(-90deg);
}

.icon-chevron.left {
    display: inline-block;
    transform: rotate(180deg);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: $linecolor;
}

h1 {
    font-size: 55px;
    line-height: 70px;
}

h2 {
    @include adaptiv-value('font-size', 30, 18, 1);
    line-height: 41px;
}

h3 {
    font-size: 24px;
    line-height: 33px;
}
h4 {
    font-size: 18px;
    line-height: 22px;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.accent-btn {
    width: 100%;
    display: block;
    background-color: $accentcolor;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px 0;
    transition: background-color 0.3s;
    &:hover {
        background-color: lighten($color: $accentcolor, $amount: 6);
    }
}

.icon-slider-arrow {
    @include adaptiv-value('font-size', 60, 15, 1);
    border-radius: 50%;
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
    }
}
.icon-slider-arrow.slider-arrow__next {
    transform: rotate(180deg);
    &:hover {
        box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.07);
    }
}

.breadcrumb {
    padding-bottom: 35px;
    @include adaptiv-value('padding-top', 50, 35, 1);
    border-bottom: 1px solid $linecolor;
    .breadcrumb-list {
        display: flex;
        .breadcrumb-list__item {
            margin-right: 10px;
            &:not(:last-child) {
                border-right: 1px solid $linecolor;
                .breadcrumb-list__link {
                    color: $graycolor;
                }
            }
            .breadcrumb-list__link {
                color: $maincolor;
                margin-right: 10px;
                font-size: 14px;
                line-height: 16.94px;
            }
        }
    }
}

.icon-star {
    color: #ededed;
}

.icon-star.fill {
    color: #f0c322;
}

.product {
    transition: box-shadow 0.3s;
    border-radius: 4px;
    width: 100%;
    position: relative;
    padding: 0 20px;
    padding-bottom: 20px;
    @media (max-width: $md1+px) {
        padding: 0 10px;
        padding-bottom: 20px;
    }
    @media (max-width: $md2+px) {
        padding: 0 20px;
        padding-bottom: 20px;
    }
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
            .product-info {
                color: $accentcolor;
            }
        }
    }
    &-labels {
        position: absolute;
        top: 12px;
        left: 20px;
        span {
            display: block;
            padding: 5px 0;
            width: 46px;
            border-radius: 100px;
            text-align: center;
            font-size: 12px;
            color: #ffffff;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__hit {
            background-color: $yellowcolor;
        }
        &__discount {
            background-color: $orangecolor;
        }
    }
    &-image {
        margin-bottom: 15px;
        img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            display: block;
        }
    }
    &-meta {
        display: flex;
        align-items: center;
        &__price {
            flex: 1;
            color: #878787;
            @media (max-width: $md1+px) {
                font-size: 14px;
            }
            @media (max-width: $md2+px) {
                font-size: 16px;
            }
            span {
                color: $graycolor;
                text-decoration: line-through;
            }
            b {
                font-size: 22px;
                font-weight: 600;
                color: $maincolor;
                @media (max-width: $md1+px) {
                    font-size: 16px;
                }
                @media (max-width: $md2+px) {
                    font-size: 22px;
                }
                &.discount {
                    color: $orangecolor;
                }
            }
        }
        &__status {
            padding: 4px 14px;
            border: 1px solid #1eba9e;
            border-radius: 100px;
            color: #1eba9e;
            @media (max-width: $md1+px) {
                padding: 4px 8px;
            }
            &.out {
                border: 1px solid #ff5b5b;
                color: #ff5b5b;
            }
        }
    }
    &-category {
        margin-bottom: 10px;
        a {
            font-size: 14px;
            color: $graycolor;
            position: relative;
            transition: color 0.3s;
            &:hover {
                color: $accentcolor;
            }
            &:not(:last-child) {
                margin-right: 20px;
                &::after {
                    content: '';
                    background-color: $linecolor;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    right: -50%;
                    transform: translateX(-50%);
                    top: 0;
                }
            }
        }
    }
    &-info {
        display: block;
        margin-bottom: 30px;
        transition: color 0.3s;
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart-btn {
            display: none;
        }
        &__review {
            small {
                display: block;
                font-size: 12px;
                color: $graycolor;
                margin-bottom: 8px;
            }
        }
    }
}
.product-btn {
    max-width: 113px;
    padding: 13px 0;
    font-size: 14px;
}
.stars {
    display: flex;
    align-items: center;
    gap: 7px;
}

.main-product {
    @include adaptiv-value('padding-right', 87, 30, 1);
    @include adaptiv-value('padding-left', 87, 30, 1);
    width: 100%;
    @media (max-width: $md1+px) {
        padding: 0 30px;
    }
    @media (max-width: $md2+px) {
        height: 600px;
    }
    @media (max-width: 640px) {
        height: 400px;
    }
    a {
        display: block;
        background-color: #fff;
        padding: 20px 30px;
        span {
            color: $yellowcolor;
        }
        h3 {
            margin: 15px 0;
            @include adaptiv-value('font-size', 24, 18, 1);
        }
        p {
            b {
                font-size: 22px;
                color: $orangecolor;
            }
        }
    }
}

.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: $md3+px) {
        &.only-title {
            justify-content: center;
            a {
                display: none;
            }
        }
    }
    a {
        color: $accentcolor;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    .checkbox__input {
        position: relative;
        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
            width: 1em;
            height: 1em;
            &:checked + .checkbox__control .icon-check {
                opacity: 1;
                visibility: visible;
            }
        }
        .checkbox__control {
            width: 20px;
            height: 20px;
            border: 1px solid #ededed;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-check {
                font-size: 12px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(1px);
                transition: opacity 0.1s ease-in 25ms, visibility 0.1s ease-in 25ms;
            }
        }
    }
    .radio__label {
        flex: 1;
        font-size: 14px;
    }
    .count {
        font-size: 10px;
        color: $graycolor;
    }
}
