input {
    border: 1px solid #ededed;
    border-radius: 100px;
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;
    display: block;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
    &::placeholder {
        color: #bfbfbf;
        font-size: $secondsize;
    }
    &:focus {
        border: 1px solid $maincolor;
    }
}

textarea {
    border: 1px solid #ededed;
    border-radius: 30px;
    height: 100px;
    resize: none;
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
    display: block;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
    &::placeholder {
        color: #bfbfbf;
        font-size: $secondsize;
    }
    &:focus {
        border: 1px solid $maincolor;
    }
}

.icon-chevron.down {
    display: inline-block;
    transform: rotate(90deg);
}

.icon-chevron.up {
    display: inline-block;
    transform: rotate(-90deg);
}

.icon-chevron.left {
    display: inline-block;
    transform: rotate(180deg);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: $linecolor;
}

h1 {
    font-size: 55px;
    line-height: 70px;
}

h2 {
    font-size: 30px;
    line-height: 41px;
}

h3 {
    font-size: 24px;
    line-height: 33px;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.footer-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.accent-btn {
    width: 100%;
    display: block;
    background-color: $accentcolor;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    padding: 16px 0;
    transition: background-color 0.3s;
    &:hover {
        background-color: lighten($color: $accentcolor, $amount: 6);
    }
}

.icon-slider-arrow.slider-arrow__next {
    font-size: 60px;
    transform: rotate(180deg);
}

.breadcrumb {
    padding-bottom: 35px;
    @include adaptiv-value('padding-top', 50, 35, 1);
    .breadcrumb-list {
        display: flex;
        .breadcrumb-list__item {
            margin-right: 10px;
            &:not(:last-child) {
                border-right: 1px solid $linecolor;
            }
            &:first-child {
                .breadcrumb-list__link {
                    color: $graycolor;
                }
            }
            .breadcrumb-list__link {
                color: $maincolor;
                margin-right: 10px;
                font-size: 14px;
                line-height: 16.94px;
            }
        }
    }
}