<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="footer-main">
                <div class="footer-logo">
                    <a href="/"><img src="img/logo.svg" alt="logo"></a>
                </div>
                <div class="separator"></div>

                <div class="footer-contacts contacts">
                    <address>2118 Thornridge Cir. Syracuse, Connecticut 35624</address>
                    <a href="tel:+37367525214" class="phone">
                        <span class="icon-phone"></span> +373 67 525 214
                    </a>
                    <p>Order call back</p>
                </div>
            </div>

            <div class="footer__menu menu-footer">
                <div class="menu-footer__column">
                    <h4 class="menu-footer__title footer-title">Categories</h4>
                    <ul class="menu-footer__list">
                        <li><a href="../single-category.html" class="menu-footer__link">Ghiveci</a></li>
                        <li><a href="../single-category.html" class="menu-footer__link">Gradina</a></li>
                        <li><a href="../single-category.html" class="menu-footer__link">Gospodarie</a></li>
                        <li><a href="../single-category.html" class="menu-footer__link">Uz casnic</a></li>
                    </ul>
                </div>

                <div class="menu-footer__column">
                    <h4 class="menu-footer__title footer-title">About</h4>
                    <ul class="menu-footer__list">
                        <li><a href="../about.html" class="menu-footer__link">About us</a></li>
                        <li><a href="../contact.html" class="menu-footer__link">Contacts</a></li>
                        <li><a href="../blog.html" class="menu-footer__link">Blog</a></li>
                    </ul>
                </div>

                <div class="menu-footer__column">
                    <h4 class="menu-footer__title footer-title">Information</h4>
                    <ul class="menu-footer__list">
                        <li><a href="#" class="menu-footer__link">Privacy policy</a></li>
                        <li><a href="#" class="menu-footer__link">Termes and conditions</a></li>
                        <li><a href="#" class="menu-footer__link">Delivery and payment</a></li>
                        <li><a href="#" class="menu-footer__link">Guaranty</a></li>
                    </ul>
                </div>

            </div>

            <div class="footer__social social">
                <h4 class="menu-footer__title footer-title">Follow us on</h4>

                <ul class="social__list">
                    <li>
                        <a href="#" class="social__item icon-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="social__item icon-instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="social__item icon-youtube"></a>
                    </li>
                    <li>
                        <a href="#" class="social__item icon-linkedin"></a>
                    </li>
                </ul>

                <div class="social__payment">
                    <img src="img/visa.svg" alt="visa">
                    <img src="img/mastercard.svg" alt="mastercard">
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <small>© 2021 Santino</small>
            <div class="social__payment">
                <img src="img/visa.svg" alt="visa">
                <img src="img/mastercard.svg" alt="mastercard">
            </div>
        </div>
    </div>
</footer>