<div class="product-slider product-slider">
    <h2 class="product-slider__title">You may also like</h2>
    <div class="product-slider__body">
        <div class="product-slider__slider container">
            <div class="slider-product__body slider-container swiper">
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product1.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status out">Out of stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Self- watering wick system</a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product2.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status">In stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Santino Self-Watering Planter DECO' TWIN with a drainage cartridge </a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product3.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status">In stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Self- watering wick system</a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                            <span class="product-labels__discount">15%</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product4.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <span>150LEI</span> <b class="discount">120 LEI</b></p>
                            <span class="product-meta__status">In stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Self- watering wick system</a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product1.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status out">Out of stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Self- watering wick system</a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product2.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status">In stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Santino Self-Watering Planter DECO' TWIN with a drainage cartridge </a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product__slide">
                    <div class="product">
                        <div class="product-labels">
                            <span class="product-labels__hit">Hit</span>
                        </div>
                        <a href="#" class="product-image">
                            <img src="img/product3.png" alt="product">
                        </a>

                        <div class="product-meta">
                            <p class="product-meta__price">de la <b>120 LEI</b></p>
                            <span class="product-meta__status">In stock</span>
                        </div>

                        <div class="product-category">
                            <a href="#">Pots</a>
                            <a href="#">Flower pots</a>
                        </div>

                        <a href="#" class="product-info">Self- watering wick system</a>

                        <div class="product-footer">
                            <button class="accent-btn product-btn">Add to cart</button>
                            <button class="accent-btn cart-btn icon-bag"></button>                                
                            <div class="product-footer__review">
                                <small>(120 reviews)</small>
                                <div class="stars">
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                    <span class="icon-star fill"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-product-controls">
                <div class="slider-product-controls__dots swiper-dots"></div>
                <div class="slider-product-controls__arrows slider-arrows">
                    <button type="button" class="slider-arrow icon-slider-arrow slider-arrow__prev">
                    </button>
                    <button type="button" class="slider-arrow slider-arrow__next icon-slider-arrow">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>