*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

@media (max-width: 1152px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}